* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("https://wallpaperstock.net/dados-negro-wallpapers_31877_2560x1600.jpg");
